# Framework web e servidor ASGI
fastapi
uvicorn[standard]

# ORM e Migrações de Banco de Dados
sqlalchemy[asyncio]
alembic
asyncpg # Driver assíncrono para PostgreSQL

# Validação de dados (já é dependência do FastAPI, mas é bom ser explícito)
pydantic
pydantic[email]
